[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio-tools = "*"
googleapis-common-protos = "*"

[dev-packages]
pytest = "*"

[scripts]
test = "pytest tests/"
test_bash = "bash tests/test_install_arduino_deps.sh"

[requires]
python_version = "3.10"
